<table border="1">
  <thead>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </thead>
  <tbody>
    <td><%= name %></td>
    <td><%= username %></td>
    <td><%= email %></td>
  </tbody>
</table>
